


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines what rem should be for overall global size settings.
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

